

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.left{
  position: absolute;
  right: 12px ;
  top : 6px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.err{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 87vh;
 background-image: url("https://images.pexels.com/photos/1112048/pexels-photo-1112048.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
 color: white;
}

.from{
  margin: 10vw 35vh 2vw;
  border: 8px solid black;
  padding: 20px;
}

/* footer .foo{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
    
} */

@media only screen and (max-width: 320px) {
  .from{
    margin: 10vw 5vh ;
    border: 8px solid black;
    padding: 20px;
  }
}

@media only screen and (max-width: 375px) {
  .from{
    margin: 10vw 5vh ;
    border: 8px solid black;
    padding: 20px;
  }
}